<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
 
<h1>question paper</h1>
<% @my_questions.each do |my_question| %>
<% Test_questions.question = my_question.question %>
<%= Test_question.question %>
<% end %>